[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
ipykernel = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
setuptools = "*"
numpy = "*"
requests = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
